/* https://colorhunt.co/palette/180404
	#120136 - dark blue
	#035aa6 - medium blue
	#40bad5 - light blue
	#fcbf1e - yellow
*/
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,700&display=swap');

.box {
	height:175px;
	width:175px; 
	background-color:#005E7C; 
	display:inline-block; 
	margin:10px;
	vertical-align:top; 
	text-align:center; 
	line-height:175px;
	font-size:100px; 
	color:white;
}

.titletext {
	text-align:center; 
	color:white;
}

h1.titletext {font-size:3em;}
p.titletext {font-size:2em;}

#main {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:585px;
	width:595px; 
	background-color:#FF9000;
	padding:10px;
}

body {
	background-color:#005E7C; 
	font-family: 'Averia Sans Libre', Arial, cursive; 
}

.hidden {
	display:none;
}

.unhidden {
	display:block;
}

#lightbox {
	position:fixed;
	top:0px;
	left:0px; 
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
}

#x {
	position:absolute;
	top:10px;
	right:10px;
	width:30px;
	height:30px;
	z-index:2; 
}

#positionMessage {
	position:absolute;
	top:45px; 
	left:0px;
	width:100%;
}

#boundaryMessage {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:200px;
	background-color:rgba(0,95,125,0.9);
	z-index:1;
	padding:30px; 
	border: thick solid #120136; 
}