body {
	background-color:black;
}

#gameBoard {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width: 600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	
}

#gameBoard div {
	background-color: #00EE00;
	background-repeat:no-repeat;
	background-size:cover;
	
} 

.rider {
	background-image: url("imgs/rider.png"); 
}

.tree {
	background-image: url("imgs/tree.png"); 
}

.flag {
	background-image: url("imgs/flag.png"); 
}

.rock {
	background-image: url("imgs/rock.png"); 
}

.fenceup {
	background-image: url("imgs/fenceup.png"); 
}

.fenceside {
	background-image: url("imgs/fenceside.png"); 
}

.water {
	background-image: url("imgs/water.png"); 
}

.horseup {
	background-image: url("imgs/horse.png"); 
}

.horsedown {
	background-image: url("imgs/horsed.png"); 
}

.horseleft {
	background-image: url("imgs/horsel.png"); 
}

.horseright {
	background-image: url("imgs/horser.png"); 
}

.horserideup {
	background-image: url("imgs/horse_ride.png"); 
}

.horseridedown {
	background-image: url("imgs/horse_rided.png"); 
}

.horserideleft {
	background-image: url("imgs/horse_ridel.png"); 
}

.horserideright {
	background-image: url("imgs/horse_rider.png"); 
}

.jumpup {
	background-image: url("imgs/fencjump.png"); 
}

.jumpdown {
	background-image: url("imgs/fencjumpd.png"); 
}

.jumpleft {
	background-image: url("imgs/fencjumpl.png"); 
}

.jumpright {
	background-image: url("imgs/fencjumpr.png"); 
}

.enemyup {
	background-image: url("imgs/enemy.png"); 
}

.enemydown {
	background-image: url("imgs/enemy_down.png"); 
}

.enemyleft {
	background-image: url("imgs/enemy_left.png"); 
}

.enemyright {
	background-image: url("imgs/enemy_right.png"); 
}

.bridge {
	background-color: #800020 !important; 
} 

.message {
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.8);
	color:white;
	font-family:Verdana, sans-serif;
	font-size:8em;
	vertical-align:top;
	text-align:center;
	line-height:100vh;
} 
