@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,700&display=swap');
/* 
red: #ff5200
darker red: #6f0000
black: #00263b
light green: #00a1ab
*/
html {
	padding:0px;
}

#title {
	margin:0px;
}

body {
	font-family:'PT Sans Caption', sans-serif;
	color:#00263b;
	margin:0px; 
}

#gameBoard {
	width:100%;
	height:85vh;
	background-color:#005082;
	position:relative;
	margin:0px; 
} 

#player1life {  
	position:absolute;
	bottom:0px;
	margin-bottom:1px; 
	left:30px;
}

#player2life {
	position:absolute;
	bottom:0px;
	margin-bottom:1px; 
	right:30px; 
}
 
.imgHidden {
	display:none;
}

.imgUnhidden {
	display:inline; 
}

#header {
	width:100%;
	height:16vh;
	background-color:#00263b;
	position:relative; 
	font-family: 'PT Sans Caption', sans-serif; 
	color:#00a1ab;
} 

#header h2 {
	position:absolute;
	top:25px; 
	margin-bottom:2px;
}	

#header #left {
	left:25px;
}

#header #right {
	right:25px;
}

#header h3 {
	position:absolute;
	bottom:0px;
	vertical-align:bottom; 
}

#header #player1life {
	left:23px;
	display:inline; 
	vertical-align:bottom;
}

#header #player2life {
	right:23px;
	display:inline; 
	vertical-align:bottom;
}

#title {
	text-align:center;
}

.paddle {
	width:10px;
	height:150px;
	background-color:#ff5200;
}

#paddle1 {
	position:absolute;
	left:0px;
	top:35vh;
} 

#paddle2 {
	position:absolute;
	right:0px;
	top:35vh;
}

#ball {
	position:absolute;
	left:50vh;
	top:50vh;
	width:25px;
	height:25px;
	background-color:#ffa41b;
	border-radius:50%; 
}

/*** Control Panel ***/
#controlPanel {
	position:absolute;
	top:10px;
	right:10px;
	z-index:1;
} 

#difficulty {
	position:absolute;
	top:10px;
	left:10px;
	z-index:1;
} 

.controls {
	display:inline-block;
	padding:6px; 
	width:90px; 
	height:20px;
	background-color:#ff5200;
	color:white;
	vertical-align:top;
	text-align:center;
	line-height:20px;
	font-size:0.7em;
	border-radius:7px; 
	font-family: 'PT Sans Caption', sans-serif;
}
/*** End Control Panel ***/

/*** Light Box Code ***/
.hidden {
	display:none;
}

.unhidden {
	display:block;
}

#lightbox {
	position:fixed;
	top:0px;
	left:0px; 
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	z-index:2;
}

#x {
	position:absolute;
	top:10px;
	right:10px;
	width:30px;
	height:30px;
	z-index:2; 
}

#positionMessage {
	position:absolute;
	top:45px; 
	left:0px;
	width:100%;
	font-family: 'Averia Sans Libre', sans-serif; 
	color:white; 
	font-size:25px; 
	text-align:center; 
	
}

#boundaryMessage {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:200px;
	background-color:rgba(0,95,125,0.9);
	z-index:1;
	padding:30px; 
	border: thick solid #120136; 
	z-index:3;
}

/* End of Light Box Code ***/